<a href="https://colab.research.google.com/github/SaxenaVaishnavi/Machine-Learning-Practices/blob/main/Week_1/Graded_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import numpy as np

In [2]:
dataset_url = 'https://drive.google.com/uc?id=1yAW5oBMNphE-rrRS1EmlTdv7LYN0-DXp'
df = pd.read_csv(dataset_url)
df.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East

# Problem 1
Select all the even indexed rows from the given dataset. What is the value in the $3^{rd}$ indexed column of the $0^{th}$ indexed row in the selected dataframe.

In [3]:
## Solution ##
even_indexed_rows = df.iloc[::2]
value = even_indexed_rows.iloc[0, 3]
print(f"The value in the 3rd indexed column of the 0th indexed row is: {value}")

The value in the 3rd indexed column of the 0th indexed row is: 111440.0

# Problem 2
Select all the even indexed rows from the given dataset. What is the value in the $3^{rd}$ indexed column of the $332^{th}$ indexed row in the selected dataframe.

In [4]:
value = even_indexed_rows.iloc[332, 3]
print(f"The value in the 3rd indexed column of the 332th indexed row is: {value}")

The value in the 3rd indexed column of the 332th indexed row is: 256200.0

# Problem 3
Select all the odd indexed rows from the given dataset. What is the value in the $3^{rd}$ indexed column of the $332^{th}$ indexed row in the selected dataframe.

In [5]:
odd_indexed_rows = df.iloc[1::2]
value = odd_indexed_rows.iloc[332, 3]
print(f"The value in the 3rd indexed column of the 332th indexed row is: {value}")

The value in the 3rd indexed column of the 332th indexed row is: 352940.0

# Problem 4
Select all the odd indexed columns from the given dataset. What is the value in the 5th indexed column of the 100th indexed row in the selected dataframe.

In [6]:
## Solution ##
odd_indexed_columns = df.iloc[:, 1::2]
value = odd_indexed_columns.iloc[100, 5]
print(f"The value in the 5th indexed column of the 100th indexed row is: {value}")

The value in the 5th indexed column of the 100th indexed row is: West

# Problem 5
Select all the even indexed columns and even indexed rows from the given dataset. What is the value in the $3^{rd}$ indexed column of the $255^{th}$ indexed row in the selected dataframe.

In [7]:
## Solution ##
even_rows_even_columns = df.iloc[::2, ::2]
value = even_rows_even_columns.iloc[255, 3]
print(f"The value in the 3rd indexed column of the 255th indexed row is: {value}")

The value in the 3rd indexed column of the 255th indexed row is: Detached House

# Problem 6
Determine the number of samples (rows) in the dataset that belong to the six most recent years, based on the provided data.

In [8]:
## Solution ##
recent_years = sorted(df['Year'].unique(), reverse=True)[:6]
recent_year_rows = df[df['Year'].isin(recent_years)]
num_rows = recent_year_rows.shape[0]
print(f"The number of samples (rows) belonging to the six most recent years is: {num_rows}")

The number of samples (rows) belonging to the six most recent years is: 4749

# Problem 7
Determine the number of samples (rows) in the dataset which has `num_rooms = 3` and `num_bathrooms = 3`

In [9]:
## Solution ##
filtered_rows = df.loc[(df['num_bathrooms'] == 3) & (df['num_rooms'] == 3)]
print(f'Number of rows with 3 rooms and bathrooms: {filtered_rows.shape[0]}')

Number of rows with 3 rooms and bathrooms: 2730

# Problem 8
Determine the number of samples (rows) in the dataset which has `num_rooms = 3` or `num_bathrooms = 3`

In [10]:
## Solution ##
filtered_rows = df.loc[(df['num_bathrooms'] == 3) | (df['num_rooms'] == 3)]
print(f'Number of rows with 3 rooms or bathrooms: {filtered_rows.shape[0]}')

Number of rows with 3 rooms or bathrooms: 8591

# Problem 9

In the Year `2022`, how many houses (rows) located in the `Greenwich` Locality have exactly `num_room == 3`, and facing towards either the `North` or `East`?

In [41]:
## Solution ##
filtered_rows = df[
    (df['Locality'] == 'Greenwich') &
    (df['Year'] == 2022) &
    (df['num_rooms'] == 3) &
    ((df['Face'] == 'East') | (df['Face'] == 'North'))
]
print(f'Number of rows with req conditions: {filtered_rows.shape[0]}')

Number of rows with req conditions: 42

# Problem 10
Calculate the number of samples(rows) that correspond to the month of `August` across all the years.?

In [42]:
print(df['Date'].dtype)

datetime64[ns]

In [13]:
## Solution ##
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month
august_rows = df[df['Month'] == 8]
num_august_samples = len(august_rows)

print(f"The number of samples (rows) corresponding to the month of August is: {num_august_samples}")

The number of samples (rows) corresponding to the month of August is: 1050

# Problem 11
According to the data which Locality have highest average `Sale Price`?

In [14]:
## Solution ##
df.groupby('Locality')['Sale Price'].mean()

Locality
Bridgeport       1.740953e+05
Fairfield        7.277225e+05
Greenwich        2.270224e+06
Norwalk          5.590959e+05
Stamford         6.305313e+05
Waterbury        1.062152e+05
West Hartford    3.385472e+05
Name: Sale Price, dtype: float64

# Problem 12
How many unknown $'?'$ values are present in the dataset?

Remove/Delete unknown $'?'$ values present in the dataset to make it null value. Remove/Delete - means it will show NAN in place of "?"

**Note**: If there is no value present in the dataset it is represented as NaN (read pandas documentation for all the other ways to represent null values) in data

In [20]:
## Solution ##
unknown_count = (df == '?').sum().sum()                               # Count of ? in entire dataset
print(f"The number of unknown '?' values in the dataset is: {unknown_count}")
df.replace('?', np.nan, inplace=True)

The number of unknown '?' values in the dataset is: 1823

# Problem 13
What is the value present at the $692^{th}$ indexed row and $0^{th}$ indexed column in the data ?

In [25]:
## Solution ##
df.iloc[692, 0]

Timestamp('2009-11-16 00:00:00')

# Problem 14
What is the value present at the $546^{th}$ indexed row and $7^{th}$ indexed column in the data ?

In [32]:
## Solution ##
df.iloc[546, 7]

3

# Problem 15
What are the unique values present in the Locality feature of the dataset?

In [29]:
## Solution ##
df['Locality'].unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

# Problem 16
Which of the following features have missing(NaN) values present in the dataset?

**Note**: compute after removing $'?'$

In [30]:
## Solution ##
df.isnull().sum()

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
Month                   0
dtype: int64

# Problem 17
Drop all the samples(rows) with missing values strictly greater than 2. How many samples remain after that?

**Note**: compute after removing $'?'$

In [33]:
## Solution ##
df_cleaned = df[df.isnull().sum(axis=1) <= 2]
remaining_samples = len(df_cleaned)
print(f"Number of samples remaining after removing rows with more than 2 missing values: {remaining_samples}")

Number of samples remaining after removing rows with more than 2 missing values: 9917

# Problem 18

Drop all the samples(rows) with missing values in the original dataframe. How many samples remains after that ?

**Note**: compute after removing $'?'$

In [37]:
df_without_NaN = df[df.isnull().sum(axis=1) == 0]
df_without_NaN.shape

(5449, 13)