<a href="https://colab.research.google.com/github/SaxenaVaishnavi/Machine-Learning-Practices/blob/main/Week_11/Graded_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [63]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.cluster import KMeans, AgglomerativeClustering
from sklearn.metrics import accuracy_score

Load the dataset from the Url= "https://archive.ics.uci.edu/ml/machine-learning-databases/00488/Live_20210128.csv"

# Ques 1.
What is the shpae of the dataset

In [45]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00488/Live_20210128.csv')
data.shape

(7050, 16)

In [39]:
data.head()

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,Column1,Column2,Column3,Column4
0,1,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0,NaN,NaN,NaN,NaN
1,2,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0,NaN,NaN,NaN,NaN
2,3,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0,NaN,NaN,NaN,NaN
3,4,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0,NaN,NaN,NaN,NaN
4,5,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0,NaN,NaN,NaN,NaN

# Ques 2.
How many features contain NULL values

In [40]:
cols = data.columns
count = 0
for col in cols:
  if data[col].isnull().sum() > 0:
    count += 1

print(count)

4

# Ques 3.
How many unique value does column `status_type` have

In [41]:
data['status_type'].unique()

array(['video', 'photo', 'link', 'status'], dtype=object)

# Data Setup
- Check if any feature contains Null values.
- Drop all the features which have Null values.
- Save 'status_type' as target variable.
- Drop the feature `status_id`, `status_type` and `status_published` from training set.
- Use `LabelEncoder` to transform the target variable.
- Use `StandardScaler` to scale the features.

For Q4,Q5 Train the model using `Kmeans clustering` (Take `Random state=10`)

For Q6,Q7,Q8 Train the model using `Agglomerative Clustering` by setting the parameter as following

```python
n_clusters=4
matric='euclidean'
linkage='ward'
```

In [46]:
# Drop columns with null values
data.dropna(axis=1, how='all', inplace=True)

# Splitting featuer matrix from target vector
y = data['status_type']
data.drop(columns=['status_id', 'status_type', 'status_published'], inplace=True)

# LabelEncoder
y = LabelEncoder().fit_transform(y)

# StandardScaler
X = StandardScaler().fit_transform(data)

# Ques 4.
Enter the inertia score at k=2

In [47]:
kmodel = KMeans(n_clusters=2, random_state=10)
kmodel.fit(X)
kmodel.inertia_

48802.47810852059

# Ques 5.
How many labels were predicted accurately at k=4?

In [50]:
kmeans = KMeans(n_clusters=4, random_state=10)
kmeans.fit(X)
predicted_labels = kmeans.labels_
sum(predicted_labels == y)

np.int64(176)

# Ques 6.
What is the label of the first prediction

In [61]:
agg_clustering = AgglomerativeClustering(n_clusters=4, metric='euclidean', linkage='ward')
agg_labels = agg_clustering.fit_predict(X)
agg_labels[0]

np.int64(3)

# Ques 7.
Enter the number of leaves in the hierarchical tree.

In [62]:
agg_clustering.n_leaves_

7050

In [64]:
accuracy_score(y, agg_labels)

0.2849645390070922